.editor-styles-wrapper .mai-list,
.mai-list {
	/* This --sub-list-margin should match what's in Mai Engine _list.scss. */
	/* --sub-list-margin: var(--list-margin, var(--list-margin-top, 0) var(--list-margin-right, 0) var(--list-margin-bottom, var(--spacing-sm)) var(--list-margin-left, 1.75em)); */
	--paragraph-margin-bottom: var(--spacing-xs);
	list-style-type: none;
	margin: 0;
	padding: 0;
	line-height: 1.5;
}

.mai-list-item {
	list-style-type: none;
	display: grid;
	grid-template-columns: var(--grid-template-columns);
	gap: var(--icon-gap, var(--spacing-md));
	place-content: start;
	margin: 0;
}

/* define grid-template-columns independently for nested lists */
.mai-list-start {
	--grid-template-columns: auto 1fr;
}

.mai-list-top {
	--grid-template-columns: 1fr;
}

.mai-list-icon-wrap,
.mai-list-icon {
	line-height: 1;
}

.mai-list-icon-wrap {
	display: grid;
	place-items: var(--icon-align, center);
	margin-top: var(--icon-margin-top, 0px);
}

.mai-list-icon {
	display: inline-block;
	padding: var(--icon-padding, unset);
	background: var(--icon-background, unset);
	border-radius: var(--icon-border-radius, unset);
}

.mai-list-icon::before {
	display: flex;
	align-items: center;
	justify-content: center;
}

.mai-list-content {
	margin-top: var(--content-margin-top, 0px);
}

.mai-list-icons .mai-list-icon::before {
	-webkit-mask-image: var(--icon, unset);
	mask-image: var(--icon, unset);
	-webkit-mask-position: center;
	mask-position: center;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: contain;
	mask-size: contain;
	width: var(--icon-size, 20px);
	height: var(--icon-size, 20px);
	background: var(--icon-color, currentColor);
	content: "";
}

.mai-list-numbers .mai-list-item {
	counter-increment: mai-list;
}

.mai-list-numbers .mai-list-icon::before {
	width: var(--icon-size, 20px);
	height: var(--icon-size, 20px);
	color: var(--icon-color, currentColor);
	font-weight: var(--mai-list-number-font-weight, var(--heading-font-weight));
	font-size: var(--icon-size, 36px);
	font-family: var(--mai-list-number-font-family, var(--heading-font-family));
	content: counter(mai-list);
}
